:root{
    --principal:  #025157;
    --bg: #fffbf7;
    --parrafos: #8b8b8bcc;
    --secundarios: #46484c;

}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /*1rem = 10px */    
    font-family: 'Krub', sans-serif;
    background-color: var(--bg);
}

h1{
    color: var(--principal);
}